.container {
  padding-top: 50px;
  padding-left: 100px;
  padding-right: 100px;
}

.topRow {
  display: flex;
  justify-content: space-between;
}

.resultsMessage {
}

.filters {
  display: flex;
  flex-direction: column;
}

.filterForm {
}

.sortButton {
  padding-top: 10px;
  height: 30px;
  width: 150px;
}

.resultsContainer {
  padding-top: 25px;
}

.loading {
  display: flex;
  justify-content: center;
}

.error {
  display: flex;
  justify-content: center;
}
