.container {
  padding-top: 50px;
  padding-left: 100px;
  padding-right: 100px;
}

.topRow {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.resultsMessage {
  padding-bottom: 20px;
}

.filters {
  display: flex;
  flex-direction: row;
}

.filterForm {
  display: flex;
  flex-direction: column;
  padding-left: 50px;
}

.sortButton {
  padding-top: 10px;
  height: 30px;
  width: 150px;
}

.resultsContainer {
  padding-top: 25px;
  padding-bottom: 50px;
}

.loading {
  display: flex;
  justify-content: center;
}

.error {
  display: flex;
  justify-content: center;
  width: 100%;
}
