.container {
  padding-top: 50px;
  padding-left: 100px;
  padding-right: 100px;
}

.cameraRowEdit {
  display: flex;
  justify-content: space-between;
}

.cameraTitleRow {
  display: flex;
  justify-content: space-between;
}
