.pageContainer {
}

.incidentContainer {
}

.incidentContainerText {
}

.video {
}

.title {
}

.info {
}

.incidentRow {
  display: flex;
  justify-content: space-between;
}

.rowTitle {
  font-weight: bold;
}

.rowData {
}

.incidentsBottom {
}
