// TODO: clean these containers up

.titleVideoStreams {
  padding-left: 64px;
  font-weight: bold;
  font-size: 16px;
}

.titleRecentIncidents {
  font-weight: bold;
  font-size: 16px;
}

.containerVideoStreams {
  padding: 32px;
  background-color: yellow;
}

.containerRecentIncidents {
  padding-top: 50px;
}

.leftPanel {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.incidentRow {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
}

.rowTitle {
  font-weight: bold;
}

.button {
  display: flex;
  margin-top: auto;
  width: 100%;
  justify-content: center;
}

.containerLiveStream {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.containerStreamData {
  height: 405px;
  width: 100%;
  max-width: 400px;
}
