.pageContainer {
  display: flex;
  width: 100vw;
}

.header {
  display: flex;
  flex-direction: column;
  height: 100px;
  // width: 100%;
  background: orange;
  justify-content: center;
}

.headerContent {
  display: flex;
  justify-content: space-between;
}

.headerText {
  display: flex;
  padding-left: 100px;
  padding-top: 10px;
  font-size: 30px;
  font-weight: bold;
}

.searchBar {
  display: flex;
  width: 400px;
  padding-right: 100px;
}

.videoStreams {
}
