.pageContainer {
  // display: flex;
  // width: 100vw;
  padding-top: 50px;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 100px;
}

.header {
  display: flex;
  flex-direction: column;
  height: 100px;
  background: orange;
  justify-content: center;
}

.headerContent {
  display: flex;
  justify-content: space-between;
}

.headerText {
  display: flex;
  padding-left: 100px;
  padding-top: 10px;
  font-size: 32px;
  font-weight: bold;
  cursor: pointer;
}

.rightMenuContainer {
  display: flex;
  flex-direction: row;
}

.searchBar {
  display: flex;
  width: 400px;
  padding-right: 100px;
}

.videoStreams {
}
