.container {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  width: 500px;
  height: 400px;
}

.videoThumbnails {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.video {
  padding: 20px;
  cursor: pointer;
}

.title {
  padding-top: 5px;
  text-align: center;
}
